.settings_screen_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.side_panel{
    background-color: var(--tertiary-bg-color);
    padding: 2rem;
    font-size: 1.2rem;
}


.category_list .cursor_list{
    gap: 1rem;
}

.main_settings_panel{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    width: 100%;
    padding: 2rem 2rem 2rem 0;
}

.setting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 50%;
    padding: 1rem 0 1rem 3rem;
}

.setting:nth-child(odd){
    background-color: var(--primary-bg-color);
}

.setting .setting_label{
    height: 100%;
    line-height: 3rem;
    min-width: fit-content;
}